<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Lista de Productos</title>
</head>
<body>


<!--  el formulario  -->
<form id="productForm">
    <label for="productName">Nombre del Producto:</label>
    <input type="text" id="productName" name="productName" required>
    <button type="submit">Crear Producto</button>
</form>





<!-- Lista  -->
<ul id="realTimeProductsList">
    <!-- se llena con websockets -->
</ul>

<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();

    // actualización de productos
    socket.on('updateProducts', function (products) {
        const realTimeProductsList = document.getElementById('realTimeProductsList');
        realTimeProductsList.innerHTML = ''; // Limpia la lista antes de actualizar

        products.forEach(function (product) {
            const listItem = document.createElement('li');
            listItem.textContent = product.title + ' - ' + product.price;
            realTimeProductsList.appendChild(listItem);
        });
    });

    // maneja el envío del formulario 
    const productForm = document.getElementById('productForm');
    productForm.addEventListener('submit', function (event) {
        event.preventDefault();

        const productName = document.getElementById('productName').value;

        // Envia la información
        socket.emit('createProduct', { title: productName });
    });
</script>


</body>
</html>
